<!--<table>-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th *ngFor="let columnConfig of config.columnConfigs">-->
            <!--{{ columnConfig.title }}-->
        <!--</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let row of json | orArray">-->
        <!--<td align="center" *ngFor="let columnConfig of config.columnConfigs">-->
            <!--{{ getValue(row, columnConfig.jsonPath) }}-->
        <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->

<ng2-smart-table [settings]="tableConfig" [source]="data"></ng2-smart-table>
