<div class="mode-selector">
    <button *ngFor="let enabledConfig of enabledConfigs" (click)="display(enabledConfig.mode)">
        {{ enabledConfig.mode }}
    </button>
</div>
<div class="modes">
    <raw-mode [config]="config.raw" [json]="json" (jsonChange)="jsonChange.emit($event)" *ngIf="isDisplayed('raw')"></raw-mode>
    <tree-mode [config]="config.tree" [json]="json" (jsonChange)="jsonChange.emit($event)" *ngIf="isDisplayed('tree')"></tree-mode>
    <table-mode [config]="config.table" [json]="json" (jsonChange)="jsonChange.emit($event)" *ngIf="isDisplayed('table')"></table-mode>
    <form-mode [config]="config.form" [json]="json" (jsonChange)="jsonChange.emit($event)" *ngIf="isDisplayed('form')"></form-mode>
</div>